@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

p {
  font-family: 'Raleway', sans-serif;
}

h1 ,h2 {
  font-family: 'Montserrat', sans-serif;
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  /* display: flex; */
  margin: 0;
  padding: 0;
}


nav {
  display: flex;
  justify-content:space-around;
  align-items: center;
  min-height: 8vh;
  background-color:lightgray;
}

.logo {
  color: rgb(71, 71, 71);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  /* background: -webkit-linear-gradient(red,red, #181998,#ffce3e, #ffce3e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.navlinks {
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 8vh;
  /* background-color: red; */
  background-image: linear-gradient(to left, red 30%, transparent 80% 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  transform: translateX(100%);
  transition: transform 0.8s ease-in;
  z-index: 1;
}

.navlinks li {
  list-style: none;
  justify-content: space-around;
  margin: 10px;
}

.navlinks a {
  color: #ffce3e;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  text-shadow: #181998 2px 2px;
}

.burger {
  display: block;
}

.burger div {
  width: 25px;
  height: 3px;
  color: rgb(241, 19, 19);
  background-color: grey;
  margin: 5px;
  justify-content: right;
}



.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }

  to{
      opacity: 1;
      transform: translateX(0px);
  }

}

.toggle .line1 {
  background-color: yellow;
}

.toggle .line2 {
background-color: #181998;
}

.toggle .line3 {
  background-color: red;
}

.container {
  display: flex;
  position: relative;
  padding: 0;
  /* margin: 3px; */
  align-items: center;
}

.blue-block1 {
  /* background-color: #181998; */
  height: 1200px;
  width: 100%;
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  background-image: linear-gradient(to right,
  #181998 20%, #181998 20% 40%, #181998 40% 50%, #181998 50% 75%, transparent 75%);

}

.blue-block1::before {
  content: '';
  height: 500px;
  width: 100%;
  background-color: #ffce3e;
  position:relative;
  top: 50%;
  left: 60%;
  z-index: -1;
}

.lemon-bite-grid {
  height: 1200px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right,
  #181998 20%, #181998 20% 40%, #181998 40% 50%, #181998 50% 75%, transparent 75%);
}
.grid1 {
  display: grid;
  grid-template-columns: 600px 500px;
  grid-template-rows: 1110px;
  grid-gap: 30px;
  position: relative;
  justify-content: center;
  margin-left: 250px;
  /* background-repeat: no-repeat;
  background-image: linear-gradient(to right,
  #181998 20%, #181998 20% 40%, #181998 40% 50%, #181998 50% 75%, transparent 75%); */

}


.lemon-bite {
  background-image: url(/img/lemon-bite.jpg);
  background-size: 600px;
  background-repeat: no-repeat;
  /* margin-left: 50px; */
  height: 700px;
}

.stairs {
  background-image: url(/img/color-block-stairs.jpg);
  height: 600px;
  width: 330px;
  background-repeat: no-repeat;
}

.block {
  background-image: url(/img/color-block.jpg);
  background-size: 400px;
  background-repeat: no-repeat;
  margin-top: 30px;
  height: 400px;
}

.article-section {
  padding: 20px;
}
.article-text-header {
  color: white;
  font-size: 90px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}
.article-text {
  font-size: large;
  color: white;
  line-height: 35px;
}

/* .yellow-block1 {
  background-color:#ffce3e;
  height: 400px;
  width: 100px;
  position: relative;
  display: flex;
  float:right;
} */
/* .yellow-block2 {
  background-color:#ffce3e;
  height: 100px;
  width: 55%;
  position: relative;
  justify-content: start;
  display: flex;
  top: 370px;
} */

.yellow-block3 {
  background-color:#ffce3e;
  height: 300px;
  width: 50%;
  position: absolute;
  justify-content: center;
  display: flex;

}


.grid2 {
  display: grid;
  grid-template-columns: 100px 845px ;
  grid-template-rows: 100px 100px;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-top: 50px;
}

.dot {
  height: 65px;
  width: 65px;
  background-color: #181998;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  align-items: center;
  color: white;
  font-size: x-large;
  padding: 10px;
} 


.dot-article {
  display: flex;
  position:relative;
  justify-content: center;
}

.d-article p {
  font-weight: 500;
  line-height: 25px;
}
/* 
.yellow-block4 {
  background-color:#ffce3e;
  height: 800px;
  position: absolute;
  justify-content: right;
  display: flex;
  top: 100%;
  width: 100%;
} */
/* 
.blue-block2 {
  background-color:#181998;
  height: 400px;
  width: 80%;
  position: absolute;
  justify-content: end;
  left: 100%;
  display: flex;
  top: 600px;
} */

.yellow-block5 {
  /* background-color:#ffce3e; */
  height: 900px;
  position: relative;
  justify-content: right;
  display: flex;
  /* top: 100%; */
  width: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right,
  #ffce3e 20%, #ffce3e 20% 40%, #ffce3e 40% 50%, transparent 50% 80%, transparent 80%);
}

.yellow-block5::before {
  content: '';
  height: 500px;
  width: 100%;
  background-color: #181998;
  position:relative;
  top: 43%;
  /* left: 60%; */
  z-index: -1;

}


.grid3 {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 50px;
  grid-template-rows: 950px;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right,
  #ffce3e 20%, #ffce3e 20% 40%, #ffce3e 40% 50%, transparent 50% 80%, transparent 80%);

}

.pineapple-img {
  margin-left: 55px;
  height: 460px;
  width: 360px;
}

.pineapple-article {
  width: 340px;
  margin-left: 55px;
  margin-top: 65px;
}

.pineapple-article h1 {
  margin-bottom: 20px;
  font-weight: 400;
}

.pineapple-article p {
  line-height: 25px;
}

.papaya-img {
height: 460px;
width: 360px;
margin-top: 200px;
margin-left: 25px;
}

.lemon-eye-img {
  height: 350px;
  width: 400px;
  margin-top: 200px;
}
.lemon-eye h1 {
  font-weight: 400;
  margin-bottom: 20px;
}
.lemon-eye {
  margin-top: 220px;
  text-align: right;
} 

.lemon-eye p {
  line-height: 25px;
  margin-left: 25px;
}


.yellow-block6 {
  /* background-color:#ffce3e; */
  height: 1000px;
  position: relative;
  /* justify-content: left; */
  display: flex;
  /* top: 665%; */
  width: 100%;
  /* background-image: linear-gradient(to right,
  #ffce3e 20%, #ffce3e 20% 40%, #ffce3e 40% 45%, #ffce3e 45% 50%, transparent 50%); */

}

.yellow-block6::before {
  content: '';
  height: 300px;
  width: 100%;
  position:absolute;
  z-index: -1;
  background-image: linear-gradient(to right,
  #ffce3e 20%, #ffce3e 20% 40%, #ffce3e 40% 50%, #181998 50% 60%, #181998 60%);
}

.grid4 {
  top: -5%;
  display: grid;
  grid-template-columns: 500px 600px;
  grid-template-rows: 800px;
  grid-gap: 15px;
  position: relative;
  justify-content: left;
  /* background-image: linear-gradient(to right,
  #ffce3e 20%, #ffce3e 20% 40%, #ffce3e 40% 45%, #ffce3e 45% 60%, transparent 60%); */

}

.shadow::before {
  content: '';
  height: 350px;
  width: 61%;
  top: 30%;
  right:39.5%;
  position:absolute;
  z-index: -1;
  justify-content: left;
  background-color: #ffce3e;
}


.shadow {
  margin-left: 25px;
  margin-top: 20px;
}
.ysweater-img {
  height: 590px;
  width: 400px;
  box-shadow: -70px -50px #181998;
  margin: 85px;
}

.ysweater-header {
  margin-bottom: 15px;
  font-weight: 300;
}

.article-3 {
  align-items:center;
  text-align:left;
  margin-top: 400px;
  margin-left: 75px;
  font-weight: 300;
  width: 450px;
}

/* .blue-block3 {
  background-color:#181998;
  height: 300px;
  width: 80%;
  position: absolute;
  justify-content: end;
  left: 100%;
  display: flex;
  top: 100%;
} */

/* .single-article {
  display: flex;
  justify-content: center;
  position:relative;
  height: 500px;
  width: 100%;
} */
.grid5 {
  display: grid;
  grid-template-columns: 180px 800px;
  grid-template-rows: 500px;
  grid-gap: 35px;
  position: relative;
}

.yellow-rec {
  margin-left: 45px;
  background-color: #ffce3e;
}

.yellow-rec-header {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight:bolder;
  line-height: 40px;
  font-size: 35px;
  height: 100px;
}

.article-4 {
  align-items: center;
  text-align: left;
  margin-top: 80px;
  padding: 35px;
  line-height: 25px;
}

.milan-week {
  display: flex;
  justify-content: center;
  position:relative;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(to left,
  #181998 20%, #181998 20% 40%, #181998 40% 50%, transparent 50% 80%, transparent 80%); */

}

.milan-week::before {
  content: '';
  height: 501px;
  width: 75%;
  background-color: #181998;
  position:absolute;
  z-index: -1;
  left: 25%;
  top: 25%;

}

.grid6 {
  display: grid;
  grid-template-columns: 470px 750px;
  grid-template-rows: 668px;
  grid-gap: 15px;
  position: relative;
  justify-content: left;
  
}

.article-5 {
  line-height: 30px;
  /* padding: 40px; */
  margin-right: 66px;
}

.article-5 p {
  font-weight: 500;
  font-size: larger;
}

.blue-shirt-lemon {
  height: 600px;
  width: 600px;
  object-fit: cover; 
  object-position: 100% 0}

.white-block {
  background-color: white;
  position: absolute;
  width: 450px;
  height: 180px;
  top: 50%;
  display: flex;
  padding: 10px;
}

.milan {
  text-align:left;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight:900;
}



.blue-block-duo::before {
  content: '';
  height: 450px;
  width: 75%;
  background-color: #181998;
  position:absolute;
  z-index: -1;
  left: 25%;
}
.grid7 {
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 1000px;
  /* grid-gap: 15px; */
  position: relative;
  align-items: center;
  justify-content: center;
  top: -20%;
  left: 11%;
}

.yellow-dress {
  height: 550px;
  width: 450px;
}

.yellow-dress-article {
  margin-top: 90px;
  margin-bottom: 70px;
  width: 70%;
}

.yellow-dress-article h1 {
  margin-bottom: 15px;
  font-weight: 500;

}

.yellow-dress-article p {
  line-height: 25px;
  font-weight: 500;
}

.red-block-header {
  margin-bottom: 50px;
  color: aliceblue;
  font-weight: 400;
  width: 300px;
  line-height: 45px;
}

.blue-shirt {
  height: 550px;
  width: 450px;
  margin-top: 60px;
}

.red-block::before {
  content: '';
  height: 700px;
  width: 8%;
  background-color: #ffce3e;
  position:absolute;
  z-index: -1;
  left: 65%;
  top: 28%;
}


.blue-bottom-block {
  display: flex;
  justify-content: center;
  position:relative;
  background-color: #181998;
}

.grid8 {
  display: grid;
  grid-template-columns: 600px 590px;
  grid-template-rows: 500px;
  position: relative;
  align-items: center;
  width: 100%;
  background-color: #181998;
  background-size: cover;
  /* top: 840%; */
}



iframe {
    margin-left: 65px;
    height: 400px;
    width: 550px;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 2px;
  border: 1px solid #ffce3e;
  resize: vertical;
  background-color: transparent;
}


input[type=submit] {
  background-color: #ffce3e;
  color: black;
  padding: 5px 10px;
  border: solid 1px #ffce3e;
  cursor: pointer;
  float: left;
  margin-left: 135px;
}

input[type=submit]:hover {
  background-color: transparent;
  color: #ffce3e;
}

.form {
  border-radius: 5px;
  background-color: #181998;
  margin-right: 55px;

}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
    }
.footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
    align-items:baseline;
}

.footer-text {
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: small;
}


.about {
  background-size: cover;
  background-image: url(/img/block-color-3.jpg);
}

.about h1 {
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  padding: 10px;
  background: -webkit-linear-gradient(red,red, #181998,#ffce3e, #ffce3e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about p{
  font-weight: 700;
  padding: 60px;
  align-items: center;
  text-align: center;
  line-height: 30px;
  text-shadow: 2px 2px 5px white;
  /* background-size: cover;
  background-image: url(/img/block-color-3.jpg); */
}

