/* ////colors /////
blue: 
#181998
yellow:
#ffce3e
grey: 
#333333 */

html {
    height: 100vh;
    width: 100vh;
    top: 100vh;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.container1 {
    display: grid;
    grid-template-columns: 300px 400px ;
    grid-template-rows: 400px 300px;
    grid-gap: 9px;
    margin-top: 200px;
    float: right;
    margin-left: 200px;
    /* background-color: aqua; */
}

.lemon-bite {
    background-image: url(/img/lemon-bite.jpg);
    background-size: 300px;
    background-repeat: no-repeat;
    /* background-color: blanchedalmond; */
}

.stairs {
    background-image: url(/img/color-block-stairs.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
    /* background-color: blueviolet; */
}

.block {
    background-image: url(/img/color-block.jpg);
    background-size: 250px;
    background-repeat: no-repeat;
    
    /* background-color: brown; */
}

.article-section {
    /* background-color: aquamarine; */
}

.article-text {
    font-size: medium;
}

.yellow-back1 {
    background-color:#ffce3e;
    height: 400px;
    width: 1100px;
    position: relative;
    margin-top: 300px;
    /* top: 50%; */
}

.blue-back1 {
    background-color: #181998;
    width: 850px;
    height: 1000px;
    position: absolute;
    margin-top: -200px;
}

.yellow-back2 {
    background-color:#ffce3e;
    height: 300px;
    width: 650px;
    position: absolute;
    margin-top: 300px;
    /* top: 50%; */
}

.container2 {
    display: grid;
    grid-template-columns: 50px 700px ;
    grid-template-rows: 80px 80px;
    align-items: center;
    margin-left: 200px;
    margin-top: 100px;
    /* background-color: aqua; */
}


.dot {
    height: 35px;
    width: 35px;
    background-color: #181998;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    align-items: center;
  }

  .yellow-back-main {
    background-color: #ffce3e;
    width: 650px;
    height: 1100px;
    position: absolute;
    margin-top: 600px;
  }

  .blue-back2 {
    background-color:#181998;
    height: 300px;
    width: 1100px;
    position: absolute;
    margin-top: 100px;
}

  .container3 {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 80px;
    align-items: center;
    margin-left: 200px;
    margin-top: 600px;
}

  .pineapple-img {
      height: 360px;
      width: 260px;
  }

  .papaya-img {
    height: 360px;
    width: 260px;
    margin-top: 200px;
}

  .lemon-eye-img {
      height: 250px;
      width: 300px;
      margin-top: 200px;
  }

  .lemon-eye {
      margin-top: 100px;
  }


.yellow-main2 {
    background-color: #ffce3e;
    width: 650px;
    height: 470px;
    position: relative;
    margin-top: 1100px;
}

.blue-back3 {
    background-color:#181998;
    height: 240px;
    width: 500px;
    position: relative;
    float: right;
    left: 500px;
}

.container4 {
    display: grid;
    grid-template-columns: 500px 300px;
    grid-template-rows: 80px;
    grid-gap: 5px;
    margin-top: 150px;
    margin-left: 160px;
    position: absolute;
  }

.ysweater-img {
    height: 400px;
    width: 300px;
    box-shadow: -60px -30px #181998;
}
.shadow {
    /* height: 200px; */
}

.article-3 {
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.container5 {
    display: grid;
    grid-template-columns: 100px 500px;
    grid-template-rows: 400px;
    grid-gap: 5px;
    margin-top: 150px;
    margin-left: 30px;
    position: absolute;
  }

.yellow-rec {
    background-color: #ffce3e;
}

.article-4 {
    align-items: center;
    margin-top: 60px;
    margin-left: 25px;
}

.container6 {
    display: grid;
    grid-template-columns: 300px 500px;
    grid-template-rows: 400px;
    grid-gap: 5px;
    margin-top: 550px;
    margin-left: 30px;
    position: relative;
  }

.blue-shirt-lemon {
    height: 600px;
}

.white-block {
    background-color: white;
    margin-left: 100px;
    margin-top: -200px;
    position: relative;
    width: 400px;
    height: 150px;
}

.milan {
    text-align:left;
    font-size: 60px;
}

.blue-block-c5 {
    background-color: #181998;
    height: 410px;
    width: 900px;
    margin-top: -200px;
    margin-left: 200px;
}

.container7 {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 500px;
    grid-gap: 150px;
    margin-left: 30px;
    margin-top: -460px;
    position: relative;
    align-items: center;
  }

.yellow-dress {
    height: 450px;
    width: 350px;
    margin-top: 95px;
    margin-bottom: 25px;
}

.blue-shirt {
    height: 450px;
    width: 350px;
}

/* .rectangle {
    height: 50px;
    width: 100px;
    background-color: #ffce3e;
  } */

.blue-back-c7 {
    background-color: #181998;
    height: 560px;
    width: 900px;
    margin-top: -101px;
    margin-left: 200px;
    position: relative;
}

.container8 {
    display: grid;
    grid-template-columns: 500px 490px;
    grid-template-rows: 500px;
    margin-top: 200px;
    position: relative;
    align-items: center;
    width:max-content;
    background-color: #181998;
    background-size: cover;
  }

  iframe {
      margin-left: 65px;
  }


* {
    box-sizing: border-box;
  }

  
  input[type=text], select, textarea {
    width: 100%;
    padding: 2px;
    border: 1px solid #ffce3e;
    resize: vertical;
    background-color: transparent;
  }
  
  
  input[type=submit] {
    background-color: #ffce3e;
    color: black;
    padding: 5px 10px;
    border: solid 1px #ffce3e;
    cursor: pointer;
    float: left;
    margin-left: 105px;
  }
  
  input[type=submit]:hover {
    background-color: transparent;
    color: #ffce3e;
  }
  
  .container {
    border-radius: 5px;
    background-color: #181998;
    margin-right: 65px;

  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }