.container {
    display: flex;
    justify-content: center;
    position: relative;
}

.yellow-block1 {
    background-color:#ffce3e;
    height: 400px;
    width: 34.5%;
    position: relative;
    justify-content: end;
    left: 66%;
    display: flex;
    top: 50px;
}

.blue-block1 {
    background-color: #181998;
    width: 65%;
    height: 1250px;
    position: absolute;
    display: flex;
    justify-content: right;
}
.grid1 {
    display: grid;
    grid-template-columns: 300px 400px;
    grid-template-rows: 400px 300px;
    grid-gap: 12px;
    top: 40%;
    left: 40%;
    position: relative;
}

.lemon-bite {
    background-image: url(/img/lemon-bite.jpg);
    background-size: 300px;
    background-repeat: no-repeat;
}

.stairs {
    background-image: url(/img/color-block-stairs.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.block {
    background-image: url(/img/color-block.jpg);
    background-size: 250px;
    background-repeat: no-repeat;
}

.article-text {
    font-size: medium;
}

.yellow-block2 {
    background-color:#ffce3e;
    height: 100px;
    width: 55%;
    position: relative;
    justify-content: start;
    display: flex;
    top: 750px;
}

.yellow-block3 {
    background-color:#ffce3e;
    height: 200px;
    width: 55%;
    position: relative;
    justify-content: start;
    display: flex;
    top: 750px;
}

.grid2 {
    display: grid;
    grid-template-columns: 50px 800px ;
    grid-template-rows: 80px 80px;
    align-items: center;
    position: relative;
    justify-content: center;
    left: 10%;
}
.dot {
    height: 35px;
    width: 35px;
    background-color: #181998;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    align-items: center;
    color: white;
    font-size: x-large;
  }

  .yellow-block4 {
    background-color:#ffce3e;
    height: 800px;
    position: absolute;
    justify-content: right;
    display: flex;
    top: 100%;
    width: 100%;
}

.blue-block2 {
    background-color:#181998;
    height: 400px;
    width: 80%;
    position: absolute;
    justify-content: end;
    left: 100%;
    display: flex;
    top: 600px;
}

.yellow-block5 {
    background-color:#ffce3e;
    height: 800px;
    position: absolute;
    justify-content: right;
    display: flex;
    top: 500%;
    width: 100%;
}

.grid3 {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 80px;
    align-items: center;
    position: relative;
    justify-content: center;
    top: 50%;
    left: 45%;
}

.pineapple-img {
    height: 360px;
    width: 260px;
}

.papaya-img {
  height: 360px;
  width: 260px;
  margin-top: 200px;
}

.lemon-eye-img {
    height: 250px;
    width: 300px;
    margin-top: 200px;
}

.lemon-eye {
    margin-top: 100px;
}

.yellow-block6 {
    background-color:#ffce3e;
    height: 450px;
    position: absolute;
    justify-content: right;
    display: flex;
    top: 900%;
    width: 100%;
}

.grid4 {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 80px;
    grid-gap: 5px;
    margin-left: 160px;
    position: relative;
    top: 35%;
    left: 40%;
    justify-content: center;
}
.ysweater-img {
    height: 400px;
    width: 300px;
    box-shadow: -70px -40px #181998;
}

.article-3 {
    align-items:flex-end;
    text-align:left;
    margin-top: 200px;
}

.blue-block3 {
    background-color:#181998;
    height: 300px;
    width: 80%;
    position: absolute;
    justify-content: end;
    left: 100%;
    display: flex;
    top: 900%;
}

.single-article {
    display: flex;
    justify-content: center;
    position:absolute;
}
.grid5 {
    display: grid;
    grid-template-columns: 150px 700px;
    grid-template-rows: 400px;
    grid-gap: 35px;
    position: relative;
    top: 600%;
  }

.yellow-rec {
    margin-left: 45px;
    background-color: #ffce3e;
}

.article-4 {
    align-items: center;
    margin-top: 60px;
    text-align: left;
}

.milan-week {
    display: flex;
    justify-content: center;
    position:absolute;
    left: 10%;

}

.grid6 {
    display: grid;
    grid-template-columns: 300px 400px;
    grid-template-rows: 400px;
    grid-gap: 5px;
    position: relative;
    top: 705%;

    justify-content: center;
}

.blue-shirt-lemon {
    height: 600px;
}

.white-block {
    background-color: white;
    position: absolute;
    width: 400px;
    height: 200px;
    top: 780%;
    display: flex;
}

.milan {
    text-align:left;
    font-size: 60px;
}

.blue-block4 {
    height: 500px;
    background-color: #181998;
    display: flex;
    position: absolute;
    justify-content: center;
    top: 800%;
}